<!DOCTYPE html>
<html lang="en">
	<head>
		<title>firefly</title>
		<link rel="stylesheet" type="text/css" href='{{ static_url("css/reset-min.css") }}'>
		<style>
			@font-face {
				font-family: "Inconsolata";
				src: url("{{ static_url("fonts/Inconsolata.ttf") }}");
			}
		</style>
		<link href='{{ static_url("css/firefly.css") }}' rel='stylesheet' type='text/css'>
		<link href='{{ static_url("css/chosen.css") }}' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="graphs" id="graphs"></div>
		<script src="{{ static_url("d3/d3.v2.js") }}"></script>
		<script src="{{ static_url("vendor/jquery-1.6.4.min.js") }}"></script>
		<script src="{{ static_url("vendor/jquery.tools.min.js") }}"></script>
		<script src="{{ static_url("vendor/jquery-ui-1.8.21.custom.min.js") }}"></script>
		<script src="{{ static_url("vendor/jquery.ba-bbq.min.js") }}"></script>
		<script src="{{ static_url("vendor/jquery.inplace-edit.js") }}"></script>
		<script src="{{ static_url("vendor/chosen.jquery.min.js") }}"></script>
		<script src="{{ static_url("vendor/closure_library/closure/goog/base.js") }}"></script>
		<script src="{{ static_url("js/jquery.contextmenu.js") }}"></script>
		<script src="{{ static_url("js/firefly.js") }}"></script>
		<script src="{{ static_url("js/graph.js") }}"></script>
		<script src="{{ static_url("js/renderer.js") }}"></script>
		<script src="{{ static_url("js/source_selector.js") }}"></script>
		<script src="{{ static_url("js/graph_edit.js") }}"></script>
		<script src="{{ static_url("js/graph_dash.js") }}"></script>
		<script src="{{ static_url("js/sourcerer.js") }}"></script>
		<script>
			$(document).ready(function(){
				firefly.init(
					{{json_encode(data_servers)}},
					{{json_encode(url_path_prefix)}},
					document.getElementById('graphs'),
					{{json_encode(embedded)}}
				);
			});
		</script>
	</body>
</html>
